{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="container vh-100">
        <div class="row vh-100 justify-content-center align-items-center" style="padding-top:60px">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card my-5 p-5 border-light-subtle shadow">
                        <h5 class="mb-5 text-center text-uppercase">
                            Reset Password<i class="bi bi-unlock-fill ms-2"></i></i>
                        </h5>
                        <div>
                            If we find a matching email, a link containing
                            reset instructions will be emailed to you.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
